.card.card2 {
    background-image: url("/img/maps/05ea5a1b66bf52b9f64eb003903c9962b6c43136-1694x952.jpg");
}

.card.card3 {
    background-image: url("/img/maps/valorant-icebox-ep-8-meio-ataque-depois.webp");
}

.card.card4 {
    background-image: url("/img/maps/mapa-sunset-valorant-2-copiar-scaled.jpg");
}

.card.card5 {
    background-image: url("/img/maps/haven4.jpg");
}

.card.card6 {
    background-image: url("/img/maps/mapa-ascent-valorant-4-1120x630.jpg");
}

.card.card7 {
    background-image: url("/img/maps/Loading_Screen_Abyss.webp");
  }
  
