.card.card1 {
    background-image: url("/Imagens/01gww4344ga2w4g105yz.webp");
}

.card.card2 {
    background-image: url("/Imagens/05ea5a1b66bf52b9f64eb003903c9962b6c43136-1694x952.jpg");
}

.card.card4 {
    background-image: url("/Imagens/mapa-sunset-valorant-2-copiar-scaled.jpg");
}

.card.card5 {
    background-image: url("/Imagens/haven4.jpg");
}

.card.card6 {
    background-image: url("/Imagens/mapa-ascent-valorant-4-1120x630.jpg");
}

.card.card7 {
    background-image: url("/Imagens/Loading_Screen_Abyss.webp");
  }
  
